html {
    height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fef9b9+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #fef9b9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#fef9b9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#fef9b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fef9b9',GradientType=0 ); /* IE6-9 */

}

.myDiv {
    
        display: table;
        margin: auto;
        border: 2px solid #009f3c;
		border-radius: 5px;
        text-align: center;
        font-size: 24px;
        padding: 10px 0;
    box-shadow: 
        inset 0 2px 8px 2px #0e7c00; 

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7fff62+0,eaffa3+100 */
background: #7fff62; /* Old browsers */
background: -moz-linear-gradient(top,  #7fff62 0%, #eaffa3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7fff62 0%,#eaffa3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7fff62 0%,#eaffa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fff62', endColorstr='#eaffa3',GradientType=0 ); /* IE6-9 */

}

	ul {
		list-style-type: none;
		padding: 5px 20px;
	}

	li:nth-child(even) {
		background-color: rgba(194,247,96, 0.5);
	}
	li:nth-child(odd) {
		/*background-color: lightgreen;*/
        background-color: red;
	}

    li {
        clear: both;
    }
    .nameSpan {
        float: left;
    }

	.scoreSpan/*span*/ {
		margin-left: 150px;
		float: right;
	}

#input {
     text-align: center;
}